*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
.container{
 width: 100%;
 height: 100vh;
 background: #e3f9ff;
 display: flex;
 align-items: center;
 justify-content: center;
}
.calculator{
 background-color: #3a4452;
 padding: 20px;
 border-radius: 10px;
}
.calculator input{
 margin: 10px;
 width: 60px;
 height: 60px;
 border: 0;
 outline: 0;
 color: white;
 background: transparent;
 box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),5px 5px 15px rgba(0, 0, 0, 0.2);
 font-size: 20px;
 cursor: pointer;
}
form .display{
 display: flex;
 margin: 20px 0;
 justify-content: flex-end;
}
form .display input{
 text-align: right;
 font-size: 40px;
 box-shadow: none;
 flex: 1;
}
form .equal{
 width: 145px;
}

@media screen and (max-width:498px) {
 .calculator{
  padding: 13px;
 }
 .calculator input{
 margin: 7px;
 width: 40px;
 height: 40px;
 font-size: 15px;
}
form .display{
 margin: 15px 0;
}
form .display input{
 font-size: 30px;
}
form .equal{
 width: 100px;
}
}